<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/materialize/css/materialize.min.css}"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" th:href="@{/css/navbar.css}" />
	<link type="text/css" rel="stylesheet" th:href="@{/css/leader_index.css}" />
	<link type="text/css" rel="stylesheet" th:href="@{/iconpacks/religion/flaticon.css}" />
   <script type="module" th:src="@{/js/tabs_and_auto.js}"></script>
    <title>View All Leaders</title>
</head>
<body>
<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo center tooltipped" data-position="bottom" data-tooltip="Return to Homepage"><i class="medium material-icons ">home</i></a>
			<ul class="left hide-on-small-only">
				<li class="active"><a href="/leader/index" class="tooltipped" data-position="bottom" data-tooltip="View all Leaders"><i class="medium material-icons ">record_voice_over</i></a></li>
				<li><a href="/civilization/index" class="tooltipped" data-position="bottom" data-tooltip="View all Civilizations"><i class="medium material-icons ">account_balance</i></a></li>
				<li><a href="/combination/index" class="tooltipped" data-position="bottom" data-tooltip="View all Combinations"><i class="medium material-icons ">merge</i></a></li>
			</ul>
			<ul class="right hide-on-small-only">
				<li sec:authorize="isAuthenticated()"><a href="javascript: document.logoutForm.submit()" class="dropdown-toggle tooltipped" data-position="bottom" data-tooltip="Logout"><i class="medium material-icons ">logout</i></a></li>
			</ul>
			<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
				<input hidden="true" type="submit" value="Sign Out" />	
			</form>
		</div>
	</nav>
</div>
<div class="container">
	<h1 class="center row">Leaders</h1>
	<div class="center row">
		<a class="waves-effect waves-light btn" href="/leader/new">Create a Custom Leader</a>
	</div>
	<div class="row" th:each="leader : ${leaders}">
            <div class="col s12">
                <div class="card blue-grey darken-1 hoverable">
                    <div class="card-content white-text">
						<div class="card-content left">
	                    	<div class="card-name-container">
		                    	<i class="small material-icons">record_voice_over</i>
		                        <span class="card-title" th:text="${leader.name}"></span>
	                    	</div>
	                        <div class="card-religion-container" th:switch="${leader.religion}">
		                    	<i th:case="'No Preference'" class="tiny flaticon-praying"></i>
		                    	<i th:case="'Buddhism'" class="tiny flaticon-buddhism"></i>
		                    	<i th:case="'Catholicism'" class="tiny flaticon-celtic-cross"></i>
		                    	<i th:case="'Hinduism'" class="tiny flaticon-om"></i>
		                    	<i th:case="'Islam'" class="tiny flaticon-islam"></i>
		                    	<i th:case="'Judaism'" class="tiny flaticon-judaism"></i>
		                    	<i th:case="'Eastern Orthodoxy'" class="tiny flaticon-cross"></i>
		                    	<i th:case="'Protestantism'" class="tiny flaticon-cross-1"></i>
		                    	<i th:case="'Shinto'" class="tiny flaticon-shinto"></i>
		                    	<i th:case="'Sikhism'" class="tiny flaticon-sikhism"></i>
		                    	<i th:case="'Taoism'" class="tiny flaticon-taoism"></i>
		                    	<i th:case="'Zoroastrianism'" class="tiny flaticon-faravahar"></i>
		                        <span class="card-text" th:text="${leader.religion}"></span>
	                        </div>
						</div>
						<div class="card-content right">
	                    	<i th:if="${leader.userFirstName == null}" class="medium material-icons">person_off</i>
	                    	<div th:unless="${leader.userFirstName == null}" class="user-info-holder" >
	                    		<div class="user-info-box">
	                    			<i class="small material-icons ">person</i>
	                    			<span class="user-name" th:text="${leader.userFirstName} + ' ' + ${leader.userLastName}"></span>
	                    		</div>
		                        <div th:if="${#authentication.name.equals(leader.userEmail)}" class="edit-delete-box" >
		                          	<a th:href="@{/leader/delete/{id}(id=${leader.id})}" class="tooltipped" data-position="bottom" data-tooltip="Delete this Leader">
		                          		<i class="small material-icons center">delete</i>
		                          	</a>
	                       		 </div>
	                    	</div>
						</div>
                    </div>
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab"><a th:href="'#' + ${leader.id} + '1'" class="active" th:text="${leader.bonusName}"></a></li>
                            <li class="tab"><a th:href="'#' + ${leader.id} + '2'" th:text="${leader.agendaName}"></a></li>
                        </ul>
                    </div>
                    <div class="card-content grey lighten-4">
                        <div th:id="${leader.id} + '1'" th:text="${leader.bonusDescription}"></div>
                        <div th:id="${leader.id} + '2'" th:text="${leader.agendaDescription}"></div>
                    </div>
                </div>
            </div>
        </div>
</div>
<script type="text/javascript" th:src="@{/materialize/js/materialize.min.js}"></script>
</body>
</html>